{% extends 'base.html' %}
{% load static %}
{% block title%}About{% endblock %}

{% block content %}


<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image:url(images/xbig_image_2.jpg.pagespeed.ic.d0K7QMgYm1.jpg)">
<div class="container">
<div class="row align-items-center justify-content-center site-hero-sm-inner">
<div class="col-md-7 text-center">
<div class="mb-5 element-animate">
<h1 class="mb-2">About Us</h1>
<p class="bcrumb"><a href="index-2.html">Home</a> <span class="sep ion-android-arrow-dropright px-2"></span> <span class="current">About Us</span></p>
</div>
</div>
</div>
</div>
</section>

<section class="site-section element-animate">
<div class="container">
<div class="row">
<div class="col-md-6 order-md-2">
<div class="block-16">
<figure>
<img src="images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg" alt="Image placeholder" class="img-fluid">
</figure>
</div>
</div>
<div class="col-md-6 order-md-1">
<div class="block-15">
<div class="heading">
<h2>Company History</h2>
</div>
<div class="text mb-5">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quibusdam nisi eos accusantium eligendi velit deleniti nihil ad deserunt rerum incidunt nulla nemo eius molestiae architecto beatae asperiores doloribus animi.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quaerat aliquid blanditiis eum asperiores obcaecati, id officiis voluptate sint est excepturi quam itaque dicta delectus. Consequuntur, blanditiis maxime? Cupiditate, cum.</p>
<p>Porro cupiditate doloremque nihil architecto, id nisi tenetur obcaecati, harum nulla aut ipsam sunt ullam eos, ipsa odit voluptatibus veniam. Amet itaque incidunt cumque tenetur, omnis repellat non dolorem nostrum.</p>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="site-section pt-3 element-animate">
<div class="container">
<div class="row justify-content-center mb-5 element-animate">
<div class="col-md-7 text-center section-heading">
<h2 class="text-primary heading">School Services</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
</div>
</div>
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="media block-6 d-block">
<div class="icon mb-3"><span class="flaticon-book"></span></div>
<div class="media-body">
<h3 class="heading">Knowledge is power</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
<p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="media block-6 d-block">
<div class="icon mb-3"><span class="flaticon-student"></span></div>
<div class="media-body">
<h3 class="heading">Senior High School</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
<p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="media block-6 d-block">
<div class="icon mb-3"><span class="flaticon-diploma"></span></div>
<div class="media-body">
<h3 class="heading">College of Arts &amp; Sciences</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
<p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="media block-6 d-block">
<div class="icon mb-3"><span class="flaticon-professor"></span></div>
<div class="media-body">
<h3 class="heading">Unmatched Proffessor</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
<p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
</div>
</div>
</div>
</div>
</div>
</section>

<div class="container site-section element-animate">
<div class="row justify-content-center mb-5 element-animate">
<div class="col-md-7 text-center section-heading">
<h2 class="text-primary heading">Why Choose Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
</div>
</div>
<div class="block-3 d-md-flex pt-5">
<div class="image" style="background-image:url(images/ximg_1.jpg.pagespeed.ic.KIyGb7wpaA.jpg)"></div>
<div class="text">
<h4 class="subheading">Nice text here</h4>
<h2 class="heading">Excellent Teachers</h2>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</div>
<div class="block-3 d-md-flex">
<div class="image order-2" style="background-image:url(images/ximg_2.jpg.pagespeed.ic.Ow-u8vxHqa.jpg)"></div>
<div class="text order-1">
<h4 class="subheading">Nice text here</h4>
<h2 class="heading">Outstanding Facilities</h2>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</div>
<div class="block-3 d-md-flex">
<div class="image" style="background-image:url(images/ximg_3.jpg.pagespeed.ic.0lCd2IWXpU.jpg)"></div>
<div class="text">
<h4 class="subheading">Nice text here</h4>
<h2 class="heading">World Class Education</h2>
<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
</div>
</div>
</div>
<div class="site-section element-animate">
<div class="container">
<div class="row justify-content-center mb-5">
<div class="col-md-7 text-center section-heading">
<h2 class="text-primary heading">Frequently Ask Questions</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore sapiente.</p>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="accordion block-8" id="accordion">
<div class="accordion-item">
<h3 class="mb-0 heading">
<a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
</h3>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
<div class="body-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae cumque perspiciatis aperiam accusantium facilis provident aspernatur nisi optio debitis dolorum, est eum eligendi vero aut ad necessitatibus nulla sit labore doloremque magnam! Ex molestiae, dolor tempora, ad fuga minima enim mollitia consequuntur, necessitatibus praesentium eligendi officia recusandae culpa tempore eaque quasi ullam magnam modi quidem in amet. Quod debitis error placeat, tempore quasi aliquid eaque vel facilis culpa voluptate.</p>
</div>
</div>
</div>
<div class="accordion-item">
<h3 class="mb-0 heading">
<a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">How much pay for 3 months?<span class="icon"></span></a>
</h3>
<div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<div class="body-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
</div>
</div>
</div>
<div class="accordion-item">
<h3 class="mb-0 heading">
<a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Do I need to register? <span class="icon"></span></a>
</h3>
<div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<div class="body-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
</div>
</div>
</div>
<div class="accordion-item">
<h3 class="mb-0 heading">
<a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
</h3>
<div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<div class="body-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% include 'subscribe.html' %}

{% endblock %}
